<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/nav"%>
    <div data-controller="hello">
      <input data-hello-target="name" type="text">
      <button data-action="click->hello#greet">
        Greet
      </button>
      <span data-hello-target="output">
      </span>
    </div>
    <%= yield %>
  </body>
</html>
